<div id="sidebar" class="bg-dark">
    <ul class="nav flex-column">
        <li class="nav-item">
            <%= link_to 'Main Dashboard', admin_dashboard_path %>
        </li>
        <li>
            <%= link_to 'Books', admin_books_path %>
        </li>
        <li>
            <%= link_to 'Blog', admin_posts_path %>
        </li>
        <li>
            <%= link_to 'Annoucements', admin_announcements_path %>
        </li>
        <li>
            <%= link_to 'Workshops', admin_workshops_path %>
        </li>
        <li>
            <%= link_to 'Profile', admin_dashboard_path %>
        </li>
        <li>
            <%= link_to 'Specs', admin_dashboard_path %>
        </li>
        <li>
            <%= link_to 'Logout', admin_logout_path %>
        </li>
    </ul>
</div>