<div class="post-editor">
<%= form_with model: @post, url: '/admin/posts' do |f| %>
  <%= f.label :title, 'Post Title' %>
  <%= f.text_field :title %>
  <%= f.label :author, 'Author' %>
  <%= f.text_field :author %>
  <%= f.label :short_description, 'Short Description' %>
  <%= f.text_field :short_description %>

  <%= f.text_area :content, id: 'post-editor' %>
  <%= f.submit %>
<% end %>
</div>
<%# <button id="save-post">Save Post</button> %>

  <%# var myContent = tinymce.activeEditor.getContent(); %>
  <%# tinymce.activeEditor.setContent(myContent) %>